@import "./config";

.landing{
  background-image: url($mobile);
  //background-repeat: no-repeat;
  @include background-size(cover);
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
  //max-height: 100%;

  .mainContent{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
  }

  .terminal--container{
    position: relative;
    left: 0;
    top: -185px;
    z-index: 2;
  }
}

.filler{
  height: 200vh;
  background-color: lightgrey;
}

@media (min-width: 768px) {
  .landing{
    background-image: url($tablet);

    .terminal--container {
      left: 16px;
      top: -337px;
      z-index: 0;
    }
  }

}

@media (min-width: 1024px) {
  .landing{
    background-image: url($desktop);

    .terminal--container{
      position: relative;
      left: 0;
      top: -425px;
    }
  }
}
