@import "./config";

.name-and-positions {
  position: relative;
  //width: 95vw;
  height: auto;
  margin: 0 auto;
  padding-bottom: 75px;
  overflow: hidden;

  h1 {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 35pt;
    font-weight: 700;
    text-align: center;
    padding-top: 25px;
    color: white;
    text-shadow: 0 1px 7px $neon-orange;
  }

  .name {
    position: relative;
    left: 0;
    bottom: 0;
    //@include animation-name(render-name);
    //@include animation-duration(3s);
    //@include animation-delay(2.5s);
    //@include animation-fill-mode(backwards);
    //overflow: hidden;
    //
    //@include render-name;
  }

  .positions {
    position: relative;
    left: 0;
    bottom: 0;
    //animation-name: render-positions;
    //animation-duration: 3s;
    //animation-delay: 7.3s;
    //animation-fill-mode: backwards;
    //overflow: hidden;
    padding-top: 15px;

    h3 {
      font-family: 'Roboto', sans-serif;
      font-size: 17pt;
      font-weight: 500;
      text-align: center;
      color: whitesmoke;
    }

    @keyframes render-positions {
      0% { left: 100vw; bottom: 0; }
      25% { left: 25px; bottom: 0; }
      50% { left: -15px; bottom: 0; }
      75% { left: 10px; bottom: 0; }
      85% { left: -5px; bottom: 0; }
      100% { left: 0; bottom: 0; }
    }
  }
}

.emailAddress {
  position: relative;
  display: inline-block;
  height: 32px;
  left: 131px;
  bottom: -94px;
  text-align: center;
  transform: rotate(90deg);
  width: 336px;
  z-index: 1;
  animation-name: render-email;
  animation-duration: 3s;
  animation-delay: 18s;
  animation-fill-mode: backwards;
  overflow: hidden;

  a {
    transform: rotate(90deg);
    font-family: 'Roboto', sans-serif;
    font-size: 12pt;
    color: $neon-blue;
    text-decoration: none;
    text-align: center;
  }

  @keyframes render-email {
    0% { left: 131px; bottom: 700px; }
    25% { left: 131px; bottom: -120px; }
    50% { left: 131px; bottom: -70px; }
    75% { left: 131px; bottom: -94px; }
    85% { left: 131px; bottom: -80px; }
    100% { left: 131px; bottom: -94px; }
  }
}

.socialMedia {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 15px;
  z-index: 1;
  position: relative;
  left: 0;
  bottom: 0;
  animation-name: render-socialMedia;
  animation-duration: 3s;
  animation-delay: 13s;
  animation-fill-mode: backwards;

  .iconify {
    color: $neon-red;
    width: 32px;
    height: 32px;
    margin: 10px 0 10px 0;
  }

  @keyframes render-socialMedia {
    0% { left: 0; bottom: 100vh; }
    25% { left: 0; bottom: 0; }
    50% { left: 0; bottom: -20px; }
    75% { left: 0; bottom: 15px; }
    85% { left: 0; bottom: -10px; }
    100% { left: 0; bottom: 0; }
  }
}

@media (min-width: 768px) {
  .name-and-positions {
    width: 75vw;

    h1 {
      font-size: 60pt;
    }

    h3 {
      font-size: 25pt;
    }
  }

  .emailAddress {
    height: 32px;
    left: 131px;
    bottom: -137px;
    width: 336px;
    z-index: 1;

    a {
      font-size: 17pt;
      text-decoration: none;
    }

    @keyframes render-email {
      0% { left: 131px; bottom: 700px; }
      25% { left: 131px; bottom: -160px; }
      50% { left: 131px; bottom: -90px; }
      75% { left: 131px; bottom: -145px; }
      85% { left: 131px; bottom: -120px; }
      100% { left: 131px; bottom: -137px; }
    }
  }

  .socialMedia {
    margin-left: 20px;
    z-index: 1;

    .iconify {
      width: 50px;
      height: 50px;
      margin: 10px 0 10px 0;
    }
  }
}

@media (min-width: 1024px) {
  .name-and-positions {
    padding-bottom: 75px;

    h1 {
      font-size: 70pt;
    }
  }

  .emailAddress {
    height: 32px;
    left: 81px;
    bottom: -155px;
    width: 336px;
    z-index: 100;

    a {
      font-size: 20pt;
    }

    @keyframes render-email {
      0% { left: 81px; bottom: 100vh; }
      25% { left: 81px; bottom: -185px; }
      50% { left: 81px; bottom: -130px; }
      75% { left: 81px; bottom: -170px; }
      85% { left: 81px; bottom: -140px; }
      100% { left: 81px; bottom: -155px; }
    }
  }

  .socialMedia {
    margin-left: 20px;
    z-index: 100;

    .iconify {
      width: 64px;
      height: 64px;
      margin: 10px 0 10px 20px;
    }
  }
}
