@import "./config";

p {
  color: white;
  margin-left: 8px;
  font-family: 'Source Code Pro', monospace;
}

.output-command {
  @include animation-name(command-scroll);
  @include animation-duration(10ms);
  @include animation-fill-mode(backwards);
  overflow: hidden;
  height: 15px;
  width: 100%;

  p {
    font-size: 12px;
    margin-bottom: 0;
  }

  @include command-scroll(0, 15px);
}

.output-command__with-br {
  @include animation-name(command-scroll__with-br);
  @include animation-duration(10ms);
  @include animation-fill-mode(backwards);
  overflow: hidden;
  height: 30px;
  width: 100%;

  p {
    font-size: 12px;
    margin-bottom: 0;
  }

  @include command-scroll__with-br(0, 30px);
}

.input-line {
  display: -webkit-flex;
  display: flex;

  -webkit-flex-direction: row;
  flex-direction: row;

  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  width: 100%;
  overflow: hidden;
  height: 27px;
  animation: command-line 1ms backwards;

  @keyframes command-line {
    from { height: 0; }
    to { height: 27px; }
  }


  .input-prompt {
    color: white;
    white-space: nowrap;
    @include animation-name(command-prompt);
    @include animation-fill-mode(backwards);
    //@include animation-delay(1ms);

    p {
      font-weight: 900;
      font-size: 14px;
      width: 100%;
      overflow:hidden;
      margin-bottom: 0;
    }
  }

  .input-command {
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
    -webkit-animation:
            command-typewriter 1.5s backwards,
            command-typewriter-height 1ms backwards;
    animation:
      command-typewriter 1.5s backwards,
      command-typewriter-height 1ms backwards;

    p {
      font-size: 12px;
      margin-bottom: 0;
    }
  }

  @include command-prompt(0,0, 100%, 16px);
  @include command-typewriter(0, 80%);
  @include command-typewriter-height(0, 100%);
}

.input-prompt-final {
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
  @include animation(command-prompt-final, 1ms, backwards);

  p {
    font-weight: 900;
    font-size: 14px;
    margin-bottom: 0;
  }

  @include command-prompt-final;
}

@media (min-width: 768px) {
  .input-line {
    .input-prompt {
      p {
        font-size: 16px;
      }
    }

    .input-command {

       p {
         font-size: 14px;
       }
    }
  }

  .output-command {

    p {
      font-size: 14px;
    }

    @include command-scroll(0, 18px);
  }

  .output-command__with-br {
    p {
      font-size: 14px;
    }

    @include command-scroll__with-br(0, 34px);
  }

  .input-prompt-final {

    p {
      font-size: 16px;
    }
  }
}

@media (min-width: 1024px) {
  .input-line {
    .input-prompt {
      p {
        font-size: 18px;
      }
    }

    .input-command {
      p {
        font-size: 16px;
      }
    }

    @include command-prompt(0,0,100%, 20px);
  }

  .output-command {
    height: 22px;

    p {
      font-size: 16px;
      margin-bottom: 0;
    }

    @include command-scroll(0, 22px);
  }

  .output-command__with-br {
    height: 40px;

    p {
      font-size: 16px;
    }

    @include command-scroll__with-br(0, 40px);
  }

  .input-prompt-final {
    height: 26px;
    p {
      font-size: 18px;
    }
  }
}
